{% extends 'base.html' %}

{% load static %}

{% block content %}
    
 <div class="row container m-auto">
      <div class="col-lg-6 order-2">
        <h1 class="title mt-5">Sign Up</h1>
        <form method="post" onsubmit="handleRegistration(event)">
            {% csrf_token %}
          <p id="error" class="text-danger"></p>
          <input
            id="username"
            type="text"
            class="input form-control my-2 w-75"
            placeholder="username"
            required
          />
          <input
            id="first_name"
            type="text"
            class="input form-control my-2 w-75"
            placeholder="First Name"
            required
          />
          <input
            id="last_name"
            type="text"
            class="input form-control my-2 w-75"
            placeholder="last Name"
            required
          />

          <input
            id="email"
            type="email"
            class="input form-control my-2 w-75"
            placeholder="Email"
            required
          />
          <input
            id="password"
            type="password"
            class="input form-control my-2 w-75"
            placeholder="password"
            required
          />
          <input
            id="confirm_password"
            type="password"
            class="input form-control my-2 w-75"
            placeholder="Confirm password"
            required
          />
          <input type="submit" class="submit-btn btn btn-success my-2" value="Sign Up" />
          <p><a href="{% url 'log' %}">go to login page</a></p>
        </form>
      </div>
      <div class="col-lg-6 mt-5 order-1">
        <img class="w-100" src="{% static 'images/reg.jpg' %}" alt="" />
      </div>
    </div>
      
     
<script src="{% static 'js/author.js' %}"></script>

{% endblock %}
