{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="container pb-5 mb-5">
  <div class="row my-5">
    <h1 class="">cloth cardlist</h1>
    
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody id="cloth-cartlist">
 
   
  </tbody>
</table>
{% if total_price %}
<h3>Total Price: ${{total_price}}</h3>
{% else %}
<h3>Total Price: $0</h3>
{% endif %}

<a class="btn btn-success"  href="{% url 'buynow_cartlist' %}">Buy Now</a>


</div>

<script src="{% static 'js/clothlist2.js' %}"></script>



{% endblock %}

