{% extends 'base.html' %}

{% load static %}

{% block content %}
    
<div class="container">
    <h1>Are you sure want to delete from your wish list?</h1>
    <div class="d-flex flex-row">
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-warning me-5" type="submit">Yes</button>
        </form>
        <button class="btn btn-info text-decoration-none text-black"><a href="{% url 'cloth_wishlist' %}">No</a></button>
    </div>

</div>

     
<script src="{% static 'js/cloth_wishlist.js' %}"></script>

{% endblock %}
