
:root{
    --card_width: 200px;
    --card_border_radius: 16px;
    --row_increment: 5px;
    --card_small: 25;
    --card_medium: 35;
    --card_large: 45;
}

.pin_container{
    width: 100%;
    height: 100vh;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
    align-items:end;

}

.card{
    padding: 0px;
    margin: 5px;
    border-radius: var(--card_border_radius);
    
}

.card_small{
    grid-row-end: span var(--card_small);
    width: 200px;
    height: 500px;
}
.card_medium{
    grid-row-end: span var(--card_medium);
    width: 200px;
    height: 500px;
}
.card_large{
    grid-row-end: span var(--card_large);
    width: 200px;
    height: 500px;
}









.nav-profile-image{
    width: 40px;
    height: 40px;
}

.nav-profile-image img{
    width: 100%;
    height: 100%;
}


.c-item {
    background-color: black;
    color: white;
}

.c-item img {
    opacity: 0.6;

}

.banner-txt{
    font-size: 80px;;
}





.card-image{
    width: 100px;
    height: 350px;
}
.card-image img{
    width: 100%;
    height: 100%;
}





.color-image{
    
    width: 20px;
    height: 20px;
}
.color-image img{
    width: 100%;
    height: 100%;
}

.rec-image{
    width: 100px;
    height: 250px;
}
.rec-image img{
    width: 100%;
    height: 100%;
}


.cdlist-image{
    width: 70px;
    height: 90px;
}
.cdlist-image img{
    width: 100%;
    height: 100%;
}

.wish-image{
    width: 100px;
    height: 300px;
}
.wish-image img{
    width: 100%;
    height: 100%;
}

.footer-copy{
    font-size: 12px;
}

.background-color{
    background-color: #FFD5C0;
}








@media only screen and (min-width: 576px) and (max-width: 992px) {

    .banner-txt{
        font-size: 50px;;
    }
    
    
}
@media only screen and (min-width: 375px) and (max-width: 576px) {

    .banner-txt{
        font-size: 25px;;
    }
    
    
}
















