{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="d-lg-flex flex-lg-row d-sm-flex flex-sm-column justify-content-evenly align-items-center container banner-page">
  <div class="order-lg-1 order-sm-2">
      <h1 class="text-danger">Gorgeous Boutique</h1>
      <p>Gorgeous Boutique is a contemporary clothing store in the heart of downtown that offers chic and stylish clothing for both men and women. From romantic lace and flowy maxi dresses to edgy leather jackets and timeless trench coats, this store has something for everyone.</p>
      <h4 class="text-danger">Welcome Home</h4>
  </div>
  <div class="order-lg-2 order-sm-1">
      <div class="banner-image">
          <img  src="{% static 'images/banner.jpg' %}" alt="cloth">
      </div>
  </div>
</div>

<div class="input-group my-3 container">
  <input type="text" class="form-control" placeholder="Search here" aria-label="Recipient's username" aria-describedby="button-addon2" id="search">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="handleSearch()">Search</button>
</div>




<div class="container text-center my-3" >

  <div class="row row-cols-4" id="category-container">
      
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-lg-1">
      <div class="d-lg-flex flex-lg-column d-sm-flex flex-sm-row gap-5 my-3">

        <div class="dropdown">
          <button class="btn btn-warning  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Color
          </button>
          <ul class="dropdown-menu" id="color-container">
          
          </ul>
        </div>
    
        <div class="dropdown">
          <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Size
          </button>
          <ul class="dropdown-menu" id="size-container">
       
          </ul>
        </div>
    
        <div class="dropdown">
          <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sorting
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" onclick="orderItem('price')">Price</a></li>
            <li><a class="dropdown-item" href="#" onclick="orderItem('-rating')">Rating</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-11">
      <div class="row ms-lg-2" id="cloth-container">
 
      </div>
    </div>
  </div>
</div>











{% endblock %}