{% extends 'base.html' %}
{% load static %}
{% block content %}




<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active  h-100 c-item">
      <img src="{% static 'images/banner1.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-lg-block d-block h-100 text-lg-center text-sm-center d-lg-flex d-sm-flex flex-lg-column flex-sm-column justify-content-center justify-content-sm-center align-items-center align-items-sm-center">
        <h1 class="banner-txt opacity-75">NEW AMAZING STUFF IS HERE</h1>
        
      </div>
    </div>
    <div class="carousel-item  h-100 c-item">
      <img src="{% static 'images/banner2.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-block d-lg-block h-100 text-lg-center text-sm-center d-lg-flex d-sm-flex flex-lg-column flex-sm-column justify-content-center justify-content-sm-center align-items-center align-items-sm-center">
        <h1 class="banner-txt opacity-75">FASHION CHANGING ALWAYS</h1>
        
      </div>
    </div>
    <div class="carousel-item  h-100 c-item">
      <img src="{% static 'images/banner3.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-block d-lg-block h-100 text-lg-center text-sm-center d-lg-flex d-sm-flex flex-lg-column flex-sm-column justify-content-center justify-content-sm-center align-items-center align-items-sm-center">
        <h1 class="banner-txt opacity-75">HIGHEST QUALITY COLLECTION</h1>
      
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<div class="input-group my-3 container">
  <input type="text" class="form-control" placeholder="Search here" aria-label="Recipient's username" aria-describedby="button-addon2" id="search">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="handleSearch()">Search</button>
</div>




<div class="container text-center my-3" >

  <div class="row row-cols-4" id="category-container">
      
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-lg-1">
      <div class="d-lg-flex flex-lg-column d-sm-flex flex-sm-row gap-5 my-3">

        <div class="dropdown">
          <button class="btn btn-warning  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Color
          </button>
          <ul class="dropdown-menu" id="color-container">
          
          </ul>
        </div>
    
        <div class="dropdown">
          <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Size
          </button>
          <ul class="dropdown-menu" id="size-container">
       
          </ul>
        </div>
    
        <div class="dropdown">
          <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sorting
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" onclick="orderItem('price')">Price</a></li>
            <li><a class="dropdown-item" href="#" onclick="orderItem('-rating')">Rating</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-11">
      <div class="row ms-lg-2" id="cloth-container">
 
      </div>
    </div>
  </div>
</div>











{% endblock %}